<% provide(:title, "Log in") %>
<font face="Playfair Display" color="black">
<h1>Log in</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag login_path %>
      <font face="Times New Roman" color="black">
      <%= text_label_tag :email %>
      <%= text_email_field :email %>

      <%= text_label_tag :password %>
      <%= text_password_field :password %>

      <%= input_type_submit "Log in" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
