<% provide(:title, "Log in") %>
<font face="Playfair Display" color="black">
<h1>Log in</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_tag login_path do %>
      <font face="Times New Roman" color="black">
      <%= label_tag :email %>
      <%= email_field_tag :email %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>

      <%= submit_tag "Log in" %>
    <% end %>


    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
