<h1><%= @user.first_name %>'s Account</h1>

<h2><%= flash[:notice] %></h2>

<div>
  <h3>
    Profile:
  </h3>
</div>

Name:
<%= @user.full_name %>
<br>
<br>
Email:
<%= @user.email %>
<br>
<br>
Username:
<%= @user.user_name %>
<br>

<br>

Reviews:
<% @user.reviews.each do |review|  %>
  <p><%= link_to review.title, review_path(review) %></p>
<% end %><br>

Reservations:
<% @user.reservations.each do |reservation|  %>
  <li><%= reservation.time %>
    at
    <%= link_to reservation.restaurant.name, restaurant_path(reservation.restaurant)%>
    for
    <%= reservation.party_size %>
    people
  <% end %><br>

  ____________________________________________________

  <br>
  <br>
  <%= link_to "go to index", restaurants_path %>
