
    <h3>

     <%# <%= image_tag(@user.profile_picture, alt: 'Image') if @user.profile_picture %>
    </h3>

<h2><%= flash[:notice] %></h2>

Name:
<%= @user.full_name %><br>

Email:
<%= @user.email %><br>

Username:
<%= @user.user_name %><br>

Reviews:
<% @user.reviews.each do |review|  %>
  <p><%= link_to review.title, review_path(review) %></p>
<% end %>
<br>
<br>

Reservations:
<% @user.reservations.each do |reservation|  %>
  <li><%= reservation.time %>
    at
    <%= link_to reservation.restaurant.name, restaurant_path(reservation.restaurant)%>
    for
    <%= reservation.party_size %>
    people
  <% end %>
  <br>
  <br>

    <div>
      <%= form_for @user do |f| %>
        <%= f.label :profile_picture %>
        <%= f.file_field :profile_picture %>
      <% end %>
    </div>

    <%= link_to "edit profile", edit_user_path(@user) %>
