<h1>All Reservations</h1>

<ul>

  <% @reservations.each do |reservation| %>
    <li><%= reservation.time %>
      at
      <%= link_to reservation.restaurant.name, restaurant_path(reservation.restaurant)%>
      for
      <%= reservation.party_size %>
      people
      <%= link_to 'Edit Reservation', edit_reservation_path(reservation) %>
      <%= link_to 'Delete Reservation', reservation_path(reservation), method: :delete %></li>
  <% end %>
</ul>

<%= link_to 'New Reservation', new_reservation_path %>
