<h2>All Restaurants</h2>

<h3>Search By Restaurant:</h3><br>
<%= form_tag(restaurants_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search") %>
<% end %>

<div>
<% @restaurants.each do |restaurant| %>
  <%= link_to(image_tag(restaurant.restaurant_photo.small_thumb.to_s)) %>
  <h3><%= link_to restaurant.name, restaurant_path(restaurant)%></h3>

  Address:<%= restaurant.address %><br>
  Phone:
  <%= restaurant.phone %><br>
  Total Reviews:
  <%= restaurant.total_reviews %><br>
  Average Star Rating:
  <%= restaurant.average_star %>
  <br>
  <% link_to 'Delete Restaurant', restaurant_path(restaurant), method: :delete %>
  <% end %>
  </div>
<br>
<br>
<br>



<%= link_to "New Restaurant", new_restaurant_path %>
