<!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4"><%= @restaurant.name %></h2>
          <h5>Cuisine $$$</h5>
          <p>Average Review</p>
          <p>Number of Reviews</p>
          <p>Restaurant DescriptionRestaurant DescriptionRestaurant DescriptionRestaurant Description</p>
          <h4>Google Map Placeholder</h4>
          <img src= <%= "http://maps.google.com/maps/api/staticmap?size=200x150&zoom=17&markers=#{@restaurant.latitude}%2C#{@restaurant.longitude}&key=#{ENV["GOOGLE_MAPS_API_KEY"]}" %> id="google-map">


        </div>
        <div class="col-sm-4">
          <h4 class="mt-4">Restaurant Info</h4>
          <address>
            <strong><%= @restaurant.address %></strong>
            <br>
          </address>
          <address>
            <i class="phone square icon"></i>
            Phone:
            <%= @restaurant.phone %><br>
            <i class="icons"><i class="payment icon"></i><i class="payment"></i></i>
            Accept Credit Card:
            <%= @restaurant.credit_card ? "Yes" : "No" %> <br>
            <i class="bicycle icon"></i>
            Delivery:
            <%= @restaurant.delivery ? "Yes" : "No" %><br>
            <br>
            <a class="ui teal basic button" href="/reservations/new/<%= @restaurant.id %>">Make a Reservation</a>
            <br>
              <br>
            <a class="ui teal basic button" href="/reviews/new/<%= @restaurant.id %>">Write a Review</a>


          </address>
        </div>
      </div>
      <!-- /.row -->
<br>
<br>
      <div class="row">
        <div class="w3-container">
          <div class="w3-row-padding" >
            <div class="w3-col l3 m6">
                <%= image_tag "rag_bone.jpg", alt: "Cinque Terre", class: "image-size", style: "width:100%", onclick: "onClick(this)", class: "w3-hover-opacity", alt: "A microphone" %>
            </div>
            <div class="w3-col l3 m6">
              <%= image_tag "burger.jpg", alt: "Cinque Terre", class: "image-size", style: "width:100%", onclick: "onClick(this)", class: "w3-hover-opacity", alt: "A microphone" %>
            </div>
            <div class="w3-col l3 m6">
              <%= image_tag "burger2.jpg", alt: "Cinque Terre", class: "image-size", style: "width:100%", onclick: "onClick(this)", class: "w3-hover-opacity", alt: "A microphone" %>
            </div>
            <div class="w3-col l3 m6">
              <%= image_tag "burger3.jpg", alt: "Cinque Terre", class: "image-size", style: "width:100%", onclick: "onClick(this)", class: "w3-hover-opacity", alt: "A microphone" %>
            </div>
          </div>

          <div class="w3-row-padding w3-section">
            <div class="w3-col l3 m6">
              <%= image_tag "burger3.jpg", alt: "Cinque Terre", class: "image-size", style: "width:100%", onclick: "onClick(this)", class: "w3-hover-opacity", alt: "A microphone" %>
            </div>
            <div class="w3-col l3 m6">
              <%= image_tag "baking_bread.jpg", alt: "Cinque Terre", class: "image-size", style: "width:100%", onclick: "onClick(this)", class: "w3-hover-opacity", alt: "A microphone" %>
            </div>
            <div class="w3-col l3 m6">
              <%= image_tag "baking_bread.jpg", alt: "Cinque Terre", class: "image-size", style: "width:100%", onclick: "onClick(this)", class: "w3-hover-opacity", alt: "A microphone" %>
            </div>
            <div class="w3-col l3 m6">
              <%= image_tag "burger.jpg", alt: "Cinque Terre", class: "image-size", style: "width:100%", onclick: "onClick(this)", class: "w3-hover-opacity", alt: "A microphone" %>
            </div>
          </div>
        </div>
        <%= form_for @restaurant do |f| %>
          <%= f.label :restaurant_photo %>
          <%= f.file_field :restaurant_photo %>
          <%= f.submit class: "ui basic button" %>
        <% end %>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
