<h1><%= @restaurant.name %></h1>
<%= render "form" %>
<h3>
 Picture:
<%# <%= @restaurant.restaurant_photo.to_s %>
<%= image_tag(@restaurant.restaurant_photo.to_s) if @restaurant.restaurant_photo %>
</h3>

<p> Location: </p>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&zoom=17&markers=#{@restaurant.latitude}%2C#{@restaurant.longitude}&key=#{ENV["GOOGLE_MAPS_API_KEY"]}" %>

<br>
<p> Address: <%= @restaurant.address %> </p>


<br>
Phone:
<%= @restaurant.phone %><br>
Accept Credit Card:
<%= @restaurant.credit_card ? "Yes" : "No" %><br>
Delivery:
<%= @restaurant.delivery ? "Yes" : "No" %><br>
Hours:
<br>
Mon Closed<br>
Tue 5:00 pm - 12:00 am<br>
Wed 5:00 pm - 12:00 am<br>
Thu 5:00 pm - 12:00 am<br>
Fri 5:00 pm - 12:00 am<br>
Sat 5:00 pm - 12:00 am<br>
Sun 5:00 pm - 12:00 am<br>

<br>

Reviews:
<% @restaurant.reviews.each do |review|  %>
<p><%= link_to review.title, review_path(review) %></p>
<% end %><br>

<br>
<%= link_to 'Write a Review', new_review_path %><br>
<%= link_to 'Make a Reservation', new_reservation_path %><br>
<%= link_to 'Back', restaurants_path %>
