<h2><%= @restaurant.name %></h2>

<div>
  <%= form_for @restaurant do |f| %>
    <%= f.label :restaurant_photo %>
    <%= f.file_field :restaurant_photo %>
    <%= f.submit %>
  <% end %>
</div>

<h3>
 Picture:
 <%= link_to(image_tag(@restaurant.restaurant_photo.thumb.to_s)) %>
<%# <%= @restaurant.restaurant_photo.to_s %>
<%# <%= image_tag(@restaurant.restaurant_photo.to_s(:thumb)) if @restaurant.restaurant_photo %>
</h3>

<p> Location: </p>
<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=[ENV=GOOGLE_MAPS_API_KEY]&q= restaurant.address" allowfullscreen %>
</iframe>
<!-- src="https://www.google.com/maps/embed/v1/place?key=MY_API_K‌​EY&q=' + data.long + ',' + data.lat + '") -->
<!-- place_id: restaurant.latitude + ',' + @restaurant.longitude + ' + zoom=5 + center -->
<!-- https://www.google.com/maps/embed/v1/place?key=#{ENV["GOOGLE_MAPS_API_KEY"]}&q=#{@re} -->
  <%# <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&zoom=17&markers=#{@restaurant.latitude}%2C#{@restaurant.longitude}&key=#{ENV["GOOGLE_MAPS_API_KEY"]}" %> %>

<br>
<p> Address: <%= @restaurant.address %> </p>


<br>
Phone:
<%= @restaurant.phone %><br>
Accept Credit Card:
<%= @restaurant.credit_card ? "Yes" : "No" %><br>
Delivery:
<%= @restaurant.delivery ? "Yes" : "No" %><br>
Hours:
<br>
Mon Closed<br>
Tue 5:00 pm - 12:00 am<br>
Wed 5:00 pm - 12:00 am<br>
Thu 5:00 pm - 12:00 am<br>
Fri 5:00 pm - 12:00 am<br>
Sat 5:00 pm - 12:00 am<br>
Sun 5:00 pm - 12:00 am<br>

<br>

Reviews:
<% @restaurant.reviews.each do |review|  %>
<p><%= link_to review.title, review_path(review) %></p>
<% end %><br>

<br>
<%= link_to 'Write a Review', new_review_path(@restaurant.id) %><br>
<%= link_to 'Make a Reservation', new_reservation_path(@restaurant.id) %><br>
<%= link_to 'Back', restaurants_path %>
