<h1>Edit Review</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
  <p><%= error %></p>
  <% end %>
<% end %>

<%= form_for @review do |f| %>

<%= f.label :title %>
<%= f.text_field :title %><br>
<%= f.label :comment %>
<%= f.text_area :comment %><br>
<%= f.label :user %>
<%= f.collection_select :user_id, @users, :id, :first_name%><br>
<%= f.label :restaurant %>
<%= f.collection_select :restaurant_id, @restaurants, :id, :name%><br>
<%= f.label :star %>
<%= f.number_field :star %><br>
<%= f.submit %>

<% end %>
