<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

  </head>

  <body>

    <div class="ui secondary  menu">
      <a><%= link_to 'All Restaurants', restaurants_path, class: "active item" %></a>
        <a>
        <% if logged_in? %>
          <%= link_to 'My Profile', user_path(session[:user_id]), class: "item" %>
        </a>
        <a>
          <%= link_to 'Logout', logout_path, method: :delete, class: "item" %>
        </a>
        <a>
        <% else %>
          <%= link_to 'Login', login_path, method: :get, class: "item" %>
        <% end %>
        </a>
      <div class="right menu">
        <div class="item">
          <%= form_tag restaurants_path, method: :get, class: "ui search" do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Restaurant", class: "prompt" %>
          <%= submit_tag "Search", class: "ui button" %>
        <% end %>
      </div>
    </div>
    </div>


  <%= yield %>

</body>

</html>
